{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>DELETEFORM</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form method="post">
                {% csrf_token %}
                <h4>Are You confirm to delete this record</h4>
                <input class="btn btn-outline-success col-3" value="YES" type="submit">
                <a  href="{% url 'student_url' %}">  <input class="btn btn-outline-warning col-3 " value="NO" type="button"></a>
            </form>
        </div>
    </div>
</div>
{% endblock %}